 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: Arial, sans-serif;
      overflow-x:hidden;
    }

    header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #c0e4f0; 
      padding: 15px 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 1000;
    }
    .logo {
      font-family: merienda one;
      font-size: 24px;
      font-weight: bold;
      color: #048279;
      font-style: italic;
    }

    nav ul {
      display: flex;
      list-style: none;
      gap: 30px;
    }

    nav ul li a {
      font-size: 16px;
      text-decoration: none;
      font-weight: bold;
      color: #000000;
    }

    a:hover {
      color: #0043ED;
    }

    .right-section {
      display: flex;
      align-items: center;
      gap: 15px;
    }

    .search-icon {
      width: 27px;
      height: 27px;
      border-radius: 5px;
      font-size: 18px;
      cursor: pointer;
    }

    .profile-img {
      width: 43px;
      height: 39px;
      border-radius: 50%;
      object-fit: cover;
    }

    h1 { 
      padding:   120px 63px 0px;
    }

    .dis {
      font-size: 16px;
      font-weight: bold;
      color: #969595;
      padding: 15px 63px; 
    }

     .filters select {
      width: 130px;
      height: 40px;
      padding: 10px;
      font-size: 16px;
      text-align: center;
      border: none;
      border-radius: 10px;
      background-color:#D9D9D9;
    }

    .filters select:hover {
      font-weight: bold;
    }

    .filters select.tt{
      position: absolute;
      left: 80px;
    }

     .filters select.du{
      position: absolute;
      left: 250px;
    }

      .cards{
      position: absolute;
      left: 63px;
    }

      .card {
      display: flex;
      width: 1000px;
      height: 237px;
      background-color: #D9D9D9;
      border-radius: 10px;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
      overflow: hidden;
    }

    .card img {
      width: 362px;
      height: 237;
      border-radius: 10px;
      object-fit: cover;
    }

    .card-content {
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .card-content p {
      text-align: justify;
      margin: 8px 0;
      color: #000000;
    }

    .card-content .btn {
      align-self:self-end;
      padding: 10px 20px;
      margin-bottom: 100px;
      background-color: #0976CA;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }

    .btn:hover {
      background-color: #86d8f6;
    }
    
    .footer {
      width: 1450px;
      margin-left: 0;
      position:static;
      background-color: #f4efef;
      padding: 30px 0px;
      text-align: center;
      color: #666;
    }

    .footer-top {
      display: flex;
      justify-content: center;
      font-size: 12px;
      gap: 40px;
      margin-bottom: 20px;
      flex-wrap: wrap;
    }

    .footer-top a {
     text-decoration: none;
     color: #555;
    }

    .footer-top a:hover {
     text-decoration: underline;
    }

    .footer-icons {
     display: flex;
     justify-content: center;
     gap: 20px;
     margin-bottom: 15px;
    }

    .footer-icons img {
     width: 20px;
     height: 20px;
     filter: invert(20%); 
     transition: transform 0.2s ease;
    }

    .footer-icons img:hover {
     transform: scale(1.2);
    }

    .footer-bottom {
     color: #888;
    }
